.caja1 {
    width: 70px;
    height: 70px;
    background-color: red;
    float: left;
}
.caja2 {
    width: 70px;
    height: 70px;
    background-color: blue;
    float: left;
}
.caja3 {
    width: 70px;
    height: 70px;
    background-color: green;
    float: left;
}

